body {
    margin: 0;
    
}

header {
    /* background: url('../img/burger\ background.jpg') no-repeat; */
    /* background-repeat: no-repeat;
    background-size: auto 100vh  */
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

main {
    position: absolute;
    top: 100vh;
    background-color: white;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    margin-left: 20px;
    letter-spacing: 2px;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.transparent {
    background-color: rgba(58, 58, 58, 0.6);
}

.parallax {
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0,.5)), url('../img/burger\ background.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
}

#header-background {
    content: url("../img/burger\ background.jpg");
    /* min-height: 100%; */
    /* min-width: 1024px; */
    width: 100%;
    height: auto;
}